.container {
  border-radius: 42px;
  padding: var(--spacing-extra-tight) var(--spacing-tight);
  background-color: var(--yellow);
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
  color: var(--matte-gray);
}
