.container {
    border-radius: 8px;
    padding: 12px 20px;
    background-color: var(--yellow);
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Geist Bold";
    font-size: 16px;
}