.problemContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--spacing-small);
}

.problemList {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
  padding: var(--spacing-small);
  gap: var(--spacing-tight);
}
.problemTitle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--spacing-tight);

  @media screen and (max-width: 768px) {
    align-items: center;
    gap: var(--spacing-extra-tight);
  }
}
.problemIcon {
  @media screen and (max-width: 768px) {
    width: 32px;
    height: 32px;
  }
}
.problemDescription {
  width: calc(8 / 12 * 100%);

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.greenText {
  color: var(--green);
}
