:root {
  /* screen sizes */
  --sm: 480px;
  --md: 768px;
  --lg: 1080px;
  --xl: 1440px;
  --xxl: 1920px;

  /* Spacing */
  --spacing-large: 192px;
  --spacing-normal: 96px;
  --spacing-small: 48px;
  --spacing-tight: 24px;
  --spacing-extra-tight: 12px;

  /* Font Size */

  /* heading */
  --heading-extra-large: 96px;
  --heading-large: 64px;
  --heading-regular: 48px;
  --heading-small: 32px;
  --heading-extra-small: 24px;
  --heading-tight: 18px;

  /* body */
  --body-text-large: 24px;
  --body-text-regular: 18px;
  --body-text-small: 16px;
  --body-text-caption: 12px;

  /* Theme */

  /* colors */
  --black: #000;
  --white: #fffeeb;
  --light-yellow: #fdf6dd;
  --yellow: #fffa80;
  --green: #80ff8d;
  --dark-gray: #262626;
  --matte-black: #1d1d1d;
  --matte-gray: #212121;
  --light-gray: #ababaf;

  /* brand */

  --butter-yellow: var(--yellow);

  --background-primary-black: var(--matte-black);
  --background-primary-gray: var(--matte-gray);
  --background-secondary-black: var(--black);

  --text-primary: var(--light-yellow);
  --text-light: var(--white);
  --text-gray: var(--light-gray);
  --text-yellow: var(--yellow);
  --text-green: var(--green);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Recoleta Regular", sans-serif;
  background-color: var(--background-primary-gray);
  color: var(--text-light);
}

@font-face {
  font-family: "Recoleta Light";
  src: url("../assets/fonts/Recoleta/Recoleta-Light.ttf");
}

@font-face {
  font-family: "Recoleta Regular";
  font-weight: 400;
  src: url("../assets/fonts/Recoleta/Recoleta-Regular.ttf");
}

@font-face {
  font-family: "Recoleta Medium";
  font-weight: 500;
  src: url("../assets/fonts/Recoleta/Recoleta-Medium.ttf");
}

@font-face {
  font-family: "Recoleta SemiBold";
  font-weight: 600;
  src: url("../assets/fonts/Recoleta/Recoleta-SemiBold.ttf");
}

@font-face {
  font-family: "Recoleta Bold";
  font-weight: 700;
  src: url("../assets/fonts/Recoleta/Recoleta-Bold.ttf");
}

@font-face {
  font-family: "Recoleta Heavy";
  font-weight: 800;
  src: url("../assets/fonts/Recoleta/Recoleta-Black.ttf");
}

/* Text style definition */
h1 {
  font-size: var(--heading-large);
  line-height: 110%;
  font-family: "Recoleta Bold";

  @media screen and (max-width: 768px) {
    font-size: var(--heading-regular);
  }

  @media screen and (max-width: 480px) {
    font-size: var(--heading-small);
  }
}

h2 {
  font-size: var(--heading-regular);
  line-height: 120%;
  font-family: "Recoleta Bold";

  @media screen and (max-width: 768px) {
    font-size: var(--heading-small);
  }
}

h3 {
  font-size: var(--heading-small);
  line-height: 120%;

  @media screen and (max-width: 768px) {
    font-size: var(--heading-extra-small);
  }
}

h4 {
  font-size: var(--heading-extra-small);
  line-height: 130%;

  @media screen and (max-width: 768px) {
    font-size: var(--heading-tight);
  }
}

p {
  font-size: var(--body-text-regular);
  line-height: 150%;
  color: var(--text-gray);

  @media screen and (max-width: 768px) {
    font-size: var(--body-text-small);
  }
}

.container {
  padding: 0 120px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding: 0 var(--spacing-small);
  }

  @media screen and (max-width: 480px) {
    padding: 0 var(--spacing-tight);
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.section-container {
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);
  max-width: 1440px;
  
  @media screen and (max-width: 768px) {
    padding-top: var(--spacing-normal);
    padding-bottom: var(--spacing-normal);
  }

  @media screen and (max-width: 768px) {
    padding-top: var(--spacing-normal);
    padding-bottom: var(--spacing-normal);
  }

  @media screen and (max-width: 480px) {
    padding-top: var(--spacing-normal);
    padding-bottom: var(--spacing-normal);
  }
}

.butter-text {
  color: var(--butter-yellow);
}
