.navPosition {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--background-primary-black);
  z-index: 12;
}

.navContainer {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-tight);
  padding-bottom: var(--spacing-tight);
}

.links_container {
  color: var(--white);
}

.separator {
  margin: 0px 20px;
  transform: translateY(-100px);
}

.navCta {
  @media screen and (max-width: 480px) {
    font-size: 14px !important;
    padding: var(--spacing-extra-tight) !important;
  }
}
