.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-brand-light);
  z-index: 10;
}

.navContainer {
  background-color: var(--background-dark);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 120px;
  padding: 14px 36px;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.links_container {
  color: var(--white);
}

.separator {
  margin: 0px 20px;
  transform: translateY(-100px);
}

.navCta {
  @media screen and (max-width: 548px) {
    font-size: 14px !important;
    padding: var(--spacing-extra-tight) !important;
  }
}
