.footerCta {
  background-color: var(--yellow);
  border-radius: 42px;
  padding: var(--spacing-extra-tight) var(--spacing-tight);
  text-decoration: none;
  color: var(--black);
}

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-tight);
  align-items: center;
  background-color: var(--background-primary-gray);
  padding: var(--spacing-large);
  text-align: center;

  @media screen and (max-width: 768px) {
    padding: var(--spacing-normal);
  }

  @media screen and (max-width: 548px) {
    padding: var(--spacing-small);
  }
}

.underlinePosition {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 110%;
}

.header {
  position: relative;
}

.heading {
  @media screen and (max-width: 548px) {
    font-size: var(--heading-small);
  }
}
