.container {
  width: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyrightContainer {
  width: 100%;
  background: #000;
  display: flex;
  justify-content: space-between;
  padding: 24px 120px;
  color: #ababaf;
}

.footerCta {
  background-color: var(--yellow);
  border-radius: 4px;
  padding: 14px 44px;
  text-decoration: none;
  color: var(--black);
}

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-tight);
  align-items: center;
  background-color: var(--background-dark);
  padding: var(--spacing-large);
  border-radius: 48px 48px 0 0;
  text-align: center;
}

.copyrightRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyrightRightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 20%;
  font-size: 14px;
}

.underlinePosition {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 105%;
}

.header {
  position: relative;
}
