.whyUsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-tight);
}

.benefit {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-normal);
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1080px) {
    flex-direction: column;
  }
}

.benefitContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  max-width: 445px;
}

.benefitReversed {
  flex-direction: row-reverse;

  @media screen and (max-width: 1080px) {
    flex-direction: column;
  }
}

.benefitDescription {
  gap: var(--spacing-extra-tight);
}

.whyUsImage {
  @media screen and (max-width: 768px) {
    max-width: 300px;
    max-height: 300px;
  }
}
