.whyUsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-normal);
}

.benefit {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-normal);
  align-items: center;
  align-content: center;
  justify-content: center;

  @media screen and (max-width: 1080px) {
    flex-direction: column;

  }
}

.benefitContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-tight);
  width:40%;
  @media screen and (max-width: 1080px) {
    width:100%;
  }
}

.benefitReversed {
  flex-direction: row-reverse;

  @media screen and (max-width: 1080px) {
    flex-direction: column;
  }
}

.benefitDescription {
  display:flex;
  flex-direction: column;
  gap: var(--spacing-extra-tight);
}

.whyUsImage {
  max-width:  264px;
  max-height: 224px;
  width: 50%;
}
