.butterWayContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;

  @media screen and (max-width: 1080px) {
    flex-direction: column;
    gap: var(--spacing-small);
  }
}
.DottedDeskSvg{
  position: absolute;
  left: -120px;
  top: 100%;

  @media screen and (max-width: 1080px) {
    display: none;
  }
}
.DottedMobSvg{
  width: 40%;
  display: none;
  position: absolute;
  right: -120px;
  top: -80px;
  @media screen and (max-width: 1080px) {
   display: block; 
   }
}
.butterWayHeading {
  position: relative;
  font-size: var(--heading-extra-large);
  width: 387px;

  @media screen and (max-width: 1080px) {
    font-size: var(--heading-large);
    width: 100%;
    flex-direction: column;
    gap: var(--spacing-small);
  }

  @media screen and (max-width: 480px) {
    font-size: var(--heading-small);
  }
}

.butterWayRightContainer {
  width: calc(8 / 12 * 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-small);

  @media screen and (max-width: 1080px) {
    width: 100%;
  }
}

.butterWayList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-tight);
}
