.butterWayContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;

  @media screen and (max-width: 1080px) {
    flex-direction: column;
    gap: var(--spacing-small);
  }
}

.butterWayHeading {
  font-size: var(--heading-extra-large);
  width: 387px;
  @media screen and (max-width: 1080px) {
    font-size: var(--heading-large);
    width: 100%;
    flex-direction: column;
    gap: var(--spacing-small);
  }

  @media screen and (max-width: 488px) {
    font-size: var(--heading-small);
  }
}

.butterWayRightContainer {
  width: calc(8 / 12 * 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-small);

  @media screen and (max-width: 1080px) {
    width: 100%;
  }
}

.butterWayList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-tight);
}
