.container {
  padding: 0 var(--spacing-small);
  background-color: var(--background-dark);
  border-radius: 12px;
  padding: var(--spacing-extra-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 120px;
}

.links_container {
  color: var(--white);
}

.separator {
  margin: 0px 20px;
  transform: translateY(-100px);
}

