.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-brand-light);
  z-index: 10;
}

.navContainer {
  background-color: var(--background-dark);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 120px;
  padding: 13px 36px;
}

.links_container {
  color: var(--white);
}

.separator {
  margin: 0px 20px;
  transform: translateY(-100px);
}
