.benefitsBg {
  width: 100%;
  background-color: var(--background-primary-black);
}

.benefitsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-normal);
  
  @media screen and (max-width: 1080px) {
    width: 100%;
  }
}

.heading {
  text-align: center;

  @media screen and (max-width: 1080px) {
    text-align: left;
  }
}

.copyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-normal);
}

.copyParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @media screen and (max-width: 1080px) {
    flex-direction: column;
    align-items: flex-start;
    gap:var(--spacing-small)  
  }
}

.copyParentReversed {
  flex-direction: row-reverse;
  
  @media screen and (max-width: 1080px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.benefitImage {
  max-width: 520px;
  width: 50%;
  @media screen and (max-width: 1080px) {
    width: 100%;
  }
   @media screen and (max-width: 768px) {
    max-width: 300px;
    max-height: 246px;
  }
}

.listContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--spacing-tight);

  @media screen and (max-width: 1080px) {
    width: 100%;
    justify-content: flex-start;
  }
  @media screen and (max-width: 768px) {
  gap: var(--spacing-extra-tight);
}
}
