.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-tight);
  padding: var(--spacing-large);
}

.heading {
  margin-top: 12px;
  margin-bottom: 32px;
  text-align: center;
  font-family: Geist Bold;
}

.button_container {
  padding-top: 32px;
}

.cta_button {
  padding: 16px 20px;
  margin-right: 28px;
}

.pricing_button {
  padding: 16px 20px;
  background-color: var(--background-dark);
  color: var(--white);
}

.butterLogo {
  position: absolute;
  left: 66%;
  top: 52%;
}
